certifi==2018.11.29
chardet==3.0.4
entrypoints==0.3
flake8==3.7.4
greenlet==0.4.15
idna==2.8
mccabe==0.6.1
msgpack==0.6.1
Naked==0.1.31
neovim==0.3.1
numpy==1.16.1
pandas==0.24.0
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.0
pynvim==0.3.2
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
shellescape==3.4.1
six==1.12.0
urllib3==1.24.1
